<%- include('../partials/header') %>

<section id="flight-details">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Date: </div>
    <div><%= flight.departs.toDateString() %></div>
    <div>Departure Time: </div>
    <div><%= flight.departs.toLocaleString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true}) %></div>
    <div id="destinations">Destinations: </div>
    <% flight.destinations.forEach(function(d) { %>
        <div><%= d.airport %></div>
        <div><%= d.arrival.toLocaleDateString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %></div>
    <% }) %>
</section>
<br>
<h2>Add Destinations</h2>
<form id="add-destinations-form" method="POST" 
    action="/flights/<%= flight._id %>/destinations">
    <label>Airport: 
        <select name="airport">
            <%- Airports.map(a => 
            `<option value="${a}">${a}</option>`
            ).join('') %>
        </select>
    </label>
    <label>Arrival Date/Time: 
        <input type="datetime-local" name="arrival" required>
    </label>
    <button type="submit">Add Destination</button>
</form>
<br>
<div id="tickets">Tickets: </div>
    <% tickets.forEach(function(ticket) { %>
        <div><%= ticket.seat %></div>
        <div><%= ticket.price %></div>
    <% }) %>
<a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>

<%- include('../partials/footer') %>