<%- include('../partials/header') %>

<h2 id="show-h2">Flight Information:</h2>
<section id="flight-details">
    <div class="detail-name">Airline: </div>
    <div class="detail"><%= flight.airline %></div>

    <div class="detail-name">Airport: </div>
    <div class="detail"><%= flight.airport %></div>

    <div class="detail-name">Flight Number: </div>
    <div class="detail"><%= flight.flightNo %></div>

    <div class="detail-name">Departure Date: </div>
    <div class="detail"><%= flight.departs.toDateString() %></div>

    <div class="detail-name">Departure Time: </div>
    <div class="detail"><%= flight.departs.toLocaleString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true}) %></div>
</section>
<section id="destinations-container">
    <div id="destinations">Destinations: </div>
    <div class="airport-code">Airport:</div>
    <div class="arrival">Arrival:</div>
    <% flight.destinations.forEach(function(d) { %>
        <div class="airport"><%= d.airport %></div>
        <div class="arrival-date"><%= d.arrival.toLocaleDateString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %></div>
    <% }) %>
</section>
<div id="add-destination-container">
    <h3>Add New Destination</h3>
    <form id="add-destinations-form" method="POST" 
        action="/flights/<%= flight._id %>/destinations">
        <label>Airport: 
            <select name="airport">
                <%- Airports.map(a => 
                `<option value="${a}">${a}</option>`
                ).join('') %>
            </select>
        </label>
        <label>Arrival Date/Time: 
            <input type="datetime-local" name="arrival" required>
        </label>
        <button class="details-link" type="submit">Add Destination</button>
    </form>
</div>
<div id="tickets-container">
    <h3 class="tickets-spacing">Tickets:</h3>
    <table id="tickets">
        <thead>
            <tr>
                <th></th>
                <th>Seat</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% tickets.forEach(function(ticket) { %>
                <tr>
                    <td></td>
                    <td><%= ticket.seat %></td>
                    <td>$<%= ticket.price %></td>
                    <td>
                        <form 
                        action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE"
                        method="POST"
                        class="delete"
                        >
                            <button type="submit">X</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a class="details-link" id="new-ticket" href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
</div>

<%- include('../partials/footer') %>